.contact{
  text-align: center;
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  border: 1px solid var(--color-black);
  border-radius: 10%;
}