  .education {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0px 50px; */
  }
  
  .education__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .images-primary{
  margin-bottom: 80px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

  .images-secondary{
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    column-gap: 20px;
    row-gap: 40px;
  }

  .image-item {
    width: calc(var(--width-education));
    height: calc(var(--width-education));
    border-radius: 30px;
    margin: 20px 0px;
    cursor: pointer;
    transition: 450ms;
  }
  
  .image-item__img {
    width: calc(var(--width-education));
    height: calc(var(--width-education));
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
  }

  .education__details {
    display: none;
  }

  /* 
  -----------------------------------------------------------
   */

  .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .picture{
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
    width: 550px;
    height: 550px;
  }

  .details__description{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: justify;
    width: 100%;
  }

  .tittle{
    background-color: var(--color-blueLight);
    border-radius: 5px;
    margin: 0px 100px;
    padding: 5px 0px;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.9);
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
  }

  .stack{
    margin: 30px 0px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
  }
  
  .text{
    margin: 15px 0px;
  }
  
  .url{
    margin: 15px 0px;
    color: var(--color-black);
    text-decoration: underline;
  }

/* 
******************** MEDIA QUERYS ********************
*/
@media screen and (min-width:768px){
  .images-primary{
    grid-template-columns: 1fr;
  }
  
  .images-secondary{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .details{
    display: flex;
    justify-content: space-around;
  }

  .details__description{
    width: 50%;
    margin-left: 30px;
  }

  .education__details {
    margin-left: 50px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}