.tittle{
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

/* 
----------------------- ABOUT SECTION -----------------------
*/

.about{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
}

.about__info{
  margin: 30px 30px;
}

.about__info h1{
  text-align: center;
  font-size: 4em;
  line-height: 1em;
}

.about__info h3{
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
  border-radius: 20px;
  text-align: center;
  margin: 30px 0px;
  padding: 15px 0px;
}

.about__info p{
  text-align: justify;
  font-size: 20px;
}

.knowme{
  text-align: center;
  margin-top: 20px;
}

.about__resume{
  display: block;
  background-color: var(--color-blue);
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
  border-radius: 20px;
  margin: 50px 0px;
  padding: 15px 0px;
  text-align: center;
  cursor: pointer;
}

.about__resume h4{
  text-align: center;
}

.about__resume a{
  color: white;
  text-decoration: none;
}

.picture-item__img {
  object-fit: cover;
  box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

/* 
----------------------- EXPERIENCE SECTION -----------------------
*/

.experience {
  margin-bottom: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #19529C;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #61D4E8;
  border: 4px solid #2DA1E7;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--color-white);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--color-white);
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 5px;
  background-color: var(--color-blue);
  color: var(--color-white);
  position: relative;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.content h1{
  font-size: 1.3em;
  text-align: center;
}

.content-text{
  align-items: center;
  font-size: 1em;
  color: var(--color-black);
  margin-top: 5px;
  font-weight: bold;
}

.position{
  margin-top: 10px;
}

.industry{
  font-weight: bold;
}


@media screen and (min-width: 1024px){
  .content-text{
    display: flex;
    justify-content: left;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* 
----------------------- SKILLS SECTION -----------------------
*/

.skill{
  width: 100%;
  text-align: center;
}

.skill ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
}

.skill-item{
  display: flex;
  flex-direction: column;
}

.skill-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-icon img{
  padding: 10px;
}

/* 
******************** MEDIA QUERYS ********************
*/
@media screen and (min-width:768px){

  .about{
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .about__picture{
    margin-bottom: 0px;
  }

  .about__resume{
    margin: 50px 150px;
  }

  .picture-item__img{
    height: 500px;
    width: 500px;
  }
}