:root{
  --color-white:#fff;
  --color-black:#000;
  --color-blue:#2f6ec2;
  --color-blueLight:#2DA1E7;
  --color-gray:rgb(190, 190, 190);
  --width-project: 300px;
  --heigth-project: 400px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Muli", sans-serif;
  flex-grow: 1;
}

/* 
----------------------- HEADER SECTION -----------------------
*/

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 40px 30px;
}

.header__name h2{
  cursor: pointer;
  text-align: center;
  color: var(--color-black);
}

.header__menu{
  padding: 15px 0px 0px;
}

.header__menu ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

.header__menu li{
  margin: 0px 8px;
  align-items: center;
  text-align: center;
}

.header__menu a{
  color: var(--color-black);
}

/* 
----------------------- FOOTER SECTION -----------------------
*/

.footer {
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  background-color: #2DA1E7;
  border-radius: 5px;
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.9);
}

.footer li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.footer li:hover{
  transform: translateY(-15px);
}

/* 
******************** MEDIA QUERYS ********************
*/
@media screen and (min-width:768px){

  .header{
    display: flex;
    justify-content: space-between;
  }

  .header__menu{
    padding: 0px 0px;
  }

  .header__menu ul{
    display: flex;
  }
}