  .carousel {
    width: 100vw;
  }
  
  .carousel__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 10px 30px;
  }
  
  .cards {
    background-color: white;
    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding: 8px;
    max-width: 250px;
  }

  .tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
  }

  .name {
    font-size: 24px;
    font-weight: 600;
    margin: 16px auto;
    text-align: center;
  }

  .more {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }

  .card__details {
    padding: 16px 8px 8px 8px;
  }

  .more:focus, .more:hover {
    background-color: #0077ff;
    color: #e0efff;
    outline: none;
  }

  .imagen {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
  }

  /* 
  -----------------------------------------------------------
   */

  .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .picture{
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.5);
    width: 300px;
    height: 300px;
  }

  .details__description{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    /* margin: 0px 20px; */
  }

  .tittle{
    background-color: var(--color-blueLight);
    border-radius: 5px;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.9);
    margin-top: 30px;
    /* margin: 30px 50px 0px; */
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
  }

  .stack{
    margin: 30px 0px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
  }
  
  .text{
    margin: 15px 0px;
  }
  
  .url{
    margin: 15px 0px;
    color: var(--color-black);
    text-decoration: underline;
  }

/* 
******************** MEDIA QUERYS ********************
*/
@media screen and (min-width:768px){

  .cards {
    margin-right: 20px;
  }

  .details{
    display: flex;
    justify-content: space-around;
  }

  .details__description{
    width: 50%;
    margin-left: 30px;
  }
}

@media screen and (min-width:1024px){
  .picture{
    width: 500px;
    height: 450px;
  }

}
